.circle {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.clock-hand {
  position: absolute;
  transform-origin: 50% 100%;
  background-color: #333;
  height: 48%;
  width: 12%;
  transition: transform 0.8s ease-in-out;
}
